## Given a list L = [100,53,200,79,20,89,1007]
Segregate them in to even number list and odd number list

In [4]:
L = [100,40,53,99,206,907]

In [8]:
even = []
for x in L:
    if x%2 == 0:
        even.append(x)
print(even)

[100, 40, 206]

In [11]:
odd = []
for x in L:
    if x%2 == 1:
        odd.append(x)
print(odd)

[53, 99, 907]

In [4]:
orders = [['apple',10], ['banana',5], ['cherry',7], ['dragon', 10] ,['grapes',9],['apples',10]]
for each in orders:
    if each[0] =="cherry":
        each[1] = 10
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grapes', 9], ['apples', 10]]

In [5]:
orders = [['apple',10], ['banana',5], ['cherry',7], ['dragon', 10] ,['grapes',9],['apples',10]]
for each in orders:
    if each[0] =="cherry":
        each[1] = 10
print(orders)
orders.append(['apple',11])

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grapes', 9], ['apples', 10]]

In [6]:
orders.append(["apple",15])
print(orders)
total = []
for each_item in orders:
    if each_item in orders:
        total.append(each_item[1])
print(total)
print(sum(total))

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grapes', 9], ['apples', 10], ['apple', 11], ['apple', 15]]
[10, 5, 10, 10, 9, 10, 11, 15]
80

In [9]:
# create a tuple
tup1 = (4,10,9,"A",9.81, False, 9-6j)
print (tup1)
print (type(tup1))

(4, 10, 9, 'A', 9.81, False, (9-6j))
<class 'tuple'>

In [10]:
#slicing the tuple
tup1[4:6]

(9.81, False)

In [11]:
#use index() method to find the index value
tup1.index(9-6j)

6

In [12]:
#use count() method of tuple to count 
tup2 = (10,20,1,10,10,30,10)
tup2.count(10)

4

In [5]:
scores={"Virat":90,
       "Rohit":100,
       "Rahul":70,
       "Hardik":9,
       "Gill":20,
       "Jadeja":30,
       "Siraj":15}
scores["Aswin"]=15
print(scores)

{'Virat': 90, 'Rohit': 100, 'Rahul': 70, 'Hardik': 9, 'Gill': 20, 'Jadeja': 30, 'Siraj': 15, 'Aswin': 15}

In [6]:
#use of fromkeys() to create a new dict 
list1 = ["A","B","C","D"]
my_dict = dict.fromkeys(list1,10)
my_dict

{'A': 10, 'B': 10, 'C': 10, 'D': 10}

In [7]:
#using a forloop
for k in scores.keys():
    if k == 'Hardik':
        scores[k] = 19
scores

{'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 19,
 'Gill': 20,
 'Jadeja': 30,
 'Siraj': 15,
 'Aswin': 15}

#use for loop to compute total scores

In [11]:
scores_list = []
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total scores: ", sum(scores_list))

[90, 100, 70, 19, 20, 30, 15, 15]
Total scores:  359