conventional if-else

In [2]:
num = 6
if num%2 == 0:
    print("even")
else:
    print("odd")

even

In [3]:
print("even") if num%2 == 0 else print("odd")

even

In [4]:
print("odd") if num%2 == 0 else print("even")

odd

In [5]:
#nested if-else one line
num = 0
result = "Positive" if num > 0 else ("Negative" if num < 0 else "zero")
print(result)

zero

# list comprehension

In [6]:
L =[1,9,2,10,56,89]
[2*x for x in L]

[2, 18, 4, 20, 112, 178]

In [7]:
#print even numbers
L =[1,9,2,10,56,89]
[x for x in L if x%2 == 0]

[2, 10, 56]

In [10]:
#print odd numbers
L =[1,9,2,10,56,89]
[x for x in L if x%2 == 1]

[1, 9, 89]

In [20]:
#print Average value of the list
L =[1,9,2,10,56,89]
sum([x for x in L])/len(L)

27.833333333333332

#Dictionary comprehension

In [21]:
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [22]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5}